
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

html {
    box-sizing: border-box;
    
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
} 

body {
    max-width: 1920px;
    background-color: #111;
    font-weight: 400;
    color: #fff;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    max-width: 1920px;
    margin: 0 312px;
    /* margin: 0 auto; */
}

.header {
    margin: 0 312px 0 312px;
    padding-top: 30px;
   
}

.header-nav {
    border-bottom: 1px solid #fff;
}

.header-logo-inst {
    width: 24px;
    height: 24px;
}

.header-logo-hors {
    width: 40px;
    height: 40px;
}

.header-list-item:first-child {
    padding: 9px 126px 38px 0 ;
}

.header-list-item:nth-child(2) {
    padding: 9px 80px 38px 0;
}
.header-list-item {
    padding: 9px 80px 38px 0;
}

.header-list-item:nth-child(4) {
    padding: 9px 120px 38px 0;
}

.header-list-item:nth-child(5) {
    padding: 9px 120px 38px 0;
}

.header-list-item:last-child {
    padding: 9px 0 38px;
}

.header-list-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

.header-link {
    color: #fff;
}

.section-services {
    width: 1920px;
    height: 1358px;
}





.block-our-mas-title {
    width: 1296px;
    height: 58px;
    margin: 80px 312px 0;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
}

.block-img-services {
    margin: 95px 312px 0;
    max-width: 1296px;
    height: 832px;
}

.img-list-services {
    max-width: 1296px;
    max-height: 832px;
    flex-wrap: wrap;
}

.services-item-img {
    position: relative;
}

.img-services{ 
    padding: 20px 24px 0 20px;
    width: 396px;
    height: 477px;
    position: absolute;
    left: -20px;
}

.lina-img {
    width: 396px;
    height: 477px;
    padding: 0 24px 20px 20px;
}

.descr-services-img {
    padding: 30px 0 10px 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 35.1px;
}

.descr-our-mas {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    padding-bottom: 60px;
}

/* footer */

.whole-content {
    width: 1296px;
    height: 315px;
    margin-top: 100px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.footer-img-horses-one {
    margin: 80px 186px 173px 0;

}

.fot-img-hors {
    width: 60px;
    height: 58px;
}

.footer-block-contacts {
    width: 325px;
    height: 153px;
    margin: 80px 181px 80px 0;
}

.footer-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    padding-bottom: 25px;
}

.fot-cont-href {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    padding-bottom: 15px;
    color: #fff;
}

.fot-cont-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
}

.footer-working-mode {
    width: 195px;
    height: 115px;
    margin: 80px 172px 118px 0 ;
}

.footer-inst {
    width: 182px;
    margin: 80px 0 0 0;
}

.block-foot-copyright {
    width: 1296px;
    text-align: center;
    margin-top: 30px;
}

.fot-copyright-descr {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    
}
